.BlogDetails__full{
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 8px;
}



.blog__name h6{
    color: #62C8C8;
}


.BlogDetails__image{
    height: 60px;
    width: 60px;
}

.BlogDetails__arrow{
    color:white;
}

.BlogDetails__full:hover{
    background-image: linear-gradient(80deg, #15d2a9, #13aeb9);
    color: white;
}